<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Shopping</title>
</head>
<body>

    <div class="grid-container">
        <header class="header">
            <div>
                <div>Qty:</div>
                <div>Total:</div>
            </div>
            <div> <button type="button" class="button">CHECKOUT</button></div>
        </header>
        <main class="main">
            <div class="cart">
                <div class="cart-list">
                    <ul class="cart-list-container">
                        <li>
                            <div className="cart-image">
                              <img src="images/d1.jpg" alt="product" />
                              <div class="offer">18% OFF</div>
                            </div>
                            <div className="cart-name">
                              <div class="item-name">
                                Milkfood
                              </div>
                              <div class="item-description">
                                Milkfood Rich Desi Danedar Ghee
                              </div>
                              <div>
                                1 L
                              </div>
                              <div>
                                MRP ₹599
                              </div>
                              <div class="price">
                                RS ₹599
                              </div>
                              <div>
                                <button type="button" className="addCart-button">
                                  ADD CART
                                </button>
                              </div>
                            </div>
                            <div className="cart-price">
                                <form>
                                    <div class="value-button" id="decrease"  value="Decrease Value">-</div>
                                    <input type="number" id="number" value="0" />
                                    <div class="value-button" id="increase"  value="Increase Value">+</div>
                                  </form>
                            </div>
                          </li>
                          <li>
                            <div className="cart-image">
                              <img src="images/d1.jpg" alt="product" />
                              <div class="offer">18% OFF</div>
                            </div>
                            <div className="cart-name">
                              <div class="item-name">
                                Milkfood
                              </div>
                              <div class="item-description">
                                Milkfood Rich Desi Danedar Ghee
                              </div>
                              <div>
                                1 L
                              </div>
                              <div>
                                MRP ₹599
                              </div>
                              <div class="price">
                                RS ₹599
                              </div>
                              <div>
                                <button type="button" className="addCart-button">
                                  ADD CART
                                </button>
                              </div>
                            </div>
                            <div className="cart-price">
                                <form>
                                    <div class="value-button" id="decrease"  value="Decrease Value">-</div>
                                    <input type="number" id="number" value="0" />
                                    <div class="value-button" id="increase"  value="Increase Value">+</div>
                                  </form>
                            </div>
                          </li>
        
                    </ul>
                </div>
                
            </div>
        </main>

        <footer class="footer">
            Shopping Cart
        </footer>

    </div>
</body>
</html>